*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.banner{
    height: 95vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
}

.banner-img{
    width: 430px;
    max-height: 650px;
    margin-bottom: -55px;
    
}

.banner-title{
    color: #272727;
    font-size: 55px;
    font-weight: 700;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    max-width: 500px;
    margin: 20px 0px;
}

.praimary-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
}

.primary-color{
    color: #E55473;
}

/* Hot Deal section start */

.Hot-deal-banner{
    height: 400px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hot-deal-info{
    text-align: center;
    padding-right: 100px;
}

.section-title{
    color: #272727;
    font-size: 35px;
    font-weight: 700;
}

.Hot-deal-img{
    width: 200px;
    max-height: 300px;
}

/* Instagram section start */

.instagram-section{
    margin: 50px 150px ;
}

.instagram{
    text-align: center;
    padding: 20px 0px;
}

.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0px;
}

.instagram-img{
    width: 240px;
    height: 300px;
    margin-right: 10px;
}
