*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container{
    background-color: rgba(229, 84, 115, 0.2);
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.nav-container img{
    width: 100px;
    height: 50px;
}
.menus-items{
    list-style: none;
    display: flex;
    gap: 15px;
}
.menus-items a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.menus-items a:hover{
    background-color: rgb(255, 221, 221);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 2px;
}


.banner{
    height: 95vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
}

.banner-img{
    width: 430px;
    max-height: 550px;
    margin-bottom: -55px;
}

.banner-title{
    color: #272727;
    font-size: 55px;
    font-weight: 700;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    max-width: 500px;
    margin: 20px 0px;
}

.praimary-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
}

.primary-color{
    color: #E55473;
}

/* Featured flowers section start */

.Featured-flowers{
    text-align: center;
}

.featuerd-flowers-card{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.img-card{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 350px;
    margin-right: 10px;
}
.card2{
    background: rgba(5, 151, 160, 0.15);
}

.card3{
    background: rgba(71, 125, 17, 0.15);

}

.img-card img{
    width: 250px;
    height: 300px;
    padding-top: 50px;
    padding-left: 40px;
}

.img-card a{
    text-align: center;
    margin-left: 100px;
    font-weight: bold;
    color: black;
}
/* Hot Deal section start */

.Hot-deal-banner{
    height: 400px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hot-deal-info{
    text-align: center;
    padding-right: 100px;
}

.section-title{
    color: #272727;
    font-size: 35px;
    font-weight: 700;
}

.Hot-deal-img{
    width: 200px;
    max-height: 300px;
}

/* Instagram section start */

.instagram-section{
    margin: 50px 150px ;
}

.instagram{
    text-align: center;
    padding: 20px 0px;
}

.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0px;
}

.instagram-img{
    width: 240px;
    height: 300px;
    margin-right: 10px;
}

/* subscrive section start */

.subscribe-section{
    height: 300px;
    background-color: #E55473;
    background-image: url('./images/Rectangle9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100px 185px 50px 150px ;
    position: relative;
}

.subscribe-info{
    position: absolute;
    top: 100px;
    left: 200px;
    text-align: center;
}

.subscribe-input{
    border: none;
    outline: none;
    width: 500px;
    height: 40px;
    color: black;
    border-radius: 8px;
    background: #FFF;
    margin-right: 10px;
    padding: 5px 15px;
}

/* Footer section start */

footer{
    /* height: 40vh; */
    background: #111010;
    text-align: center;
    margin-top: 100px;
}

.footer-info{
   padding-top: 100px;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
    padding-bottom: 50px;
} 